body, html {
  width: 600px;
  height: 400px;
}
body {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  draggable: false;
}

.floresta-container {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: url('./assets/1.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.floresta-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(184, 121, 178, 0.39);
  z-index: 0;
  animation: trocaCoresCenario 15s infinite linear;
}

@keyframes trocaCoresCenario {

  0% {
    background-color: rgba(153, 32, 141, 0.39);
  }

  40% {
    background-color: rgba(0, 88, 0, 0.39);
  }

  80% {
    background-color: rgba(182, 46, 46, 0.308);
  }
  100% {
    background-color: rgba(153, 32, 141, 0.39);
  }
}

.chao {
  position: absolute;
  bottom: 0%;
  z-index: 2;
}

#arv1 {
  width: 230px;
  left: 0%;
  transform: scaleX(-1);
}

#arv2 {
  width: 200px;
  left: 35%;
}

#arv3 {
  width: 250px;
  left: 70%;
  z-index: 1;
}

#cogumelo {
  width: 120px;
  left: 55%;
  bottom: 1%;
  z-index: 1;
}

.subsolo img {
  position: absolute;
  bottom: 0%;
  z-index: 3;
}

#a1 {
  margin-left: 2vw;
}

#a2 {
  margin-left: 5vw;
}

#a3 {
  margin-left: 12vw;
}

#a4 {
  margin-left: 22vw;
}

#a5 {
  margin-left: 32vw;
}

.ceu {
  position: absolute;
  top: 0%;
  z-index: 2;
}

#nuvem1 {
  width: 120px;
  left: 1%;
  top: 2%;
  animation: moverNuvens 40s linear infinite;
}

#nuvem2 {
  animation: moverNuvens 50s linear infinite;
  width: 100px;
  left: 28%;
  top: 12%;
}

#nuvem3 {
  animation: moverNuvens 58s linear infinite;
  width: 150px;
  left: 75%;
  top: 5%;
}

#nuvem4 {
  animation: moverNuvens 42s linear infinite;
  width: 140px;
  left: 50%;
  top: 0%;
}

@keyframes moverNuvens {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-20%);
  }
}

#tsparticles {
  width: 600px; 
  height: 400px; 
}


@keyframes moverAnimais {
  0% {
    right: -20%;
  }

  49% {
    right: 105%;
    transform: scaleX(1);
  }

  50% {
    right: 105%;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
    right: -20%;
  }

  100% {
    transform: scaleX(1);
    right: -20%;
  }
}

#aranha {
  position: absolute;
  width: 90px;
  z-index: 3;
  right: 0%;
  bottom: 0%;
  animation: moverAnimais 30s linear infinite;
}

#cachorro {
  position: absolute;
  width: 140px;
  z-index: 3;
  right: 0%;
  bottom: 0%;
  animation: moverAnimais 10s linear infinite;
}

#cachorro_dormindo {
  position: absolute;
  width: 120px;
  z-index: 3;
  left: 25%;
  bottom: 0%;
}


#dino {
  position: absolute;
  width: 140px;
  z-index: 2;
  right: 2%;
  bottom: 1%;
}

#dino_voador {
  position: absolute;
  width: 100px;
  z-index: 2;
  top: 10%;
  bottom: 0%;
  animation: moverAnimais 10s linear infinite;
}

#gato {
  position: absolute;
  width: 120px;
  z-index: 2;
  right: 60%;
  bottom: 0%;
  transform: scaleX(-1);
}

#morcego {
  position: absolute;
  width: 80px;
  z-index: 2;
  right: 62%;
  top: 5%;
  animation: moverAnimais 50s linear infinite;
}

#passaro {
  position: absolute;
  width: 60px;
  z-index: 2;
  right: 20%;
  bottom: 2%;
  transform: scaleX(-1);
}

#ovelha {
  position: absolute;
  width: 65px;
  z-index: 3;
  bottom: 0%;
  animation: moverAnimais 110s linear infinite;
}

#sapo {
  position: absolute;
  width: 100px;
  z-index: 2;
  right: 62%;
  bottom: 0%;
  transform: scaleX(-1);
}